@if (isLoading()) {
  <p>Loading...</p>
} @else {
  <button (click)="onDeleteAllClick()">Delete All</button>
  @if (deleteAllError) {
    <div class="error">{{ deleteAllError }}</div>
  }
  <table>
    <thead>
      <tr>
        <th>File Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (file of files(); track file) {
        <tr>
          <td>{{ file.name }}</td>
          <td
            class="delete-icon"
            [ngClass]="{disabled: file.loading}"
            (click)="file.loading ? null : onDeleteFileClick(file.id)"
          >
            <mat-icon>delete</mat-icon>
          </td>
        </tr>
        @if (file.error) {
          <div class="error">Failed to delete file</div>
        }
      }
    </tbody>
  </table>
}
